<!-- Plantilla de p치gina de error -->
<div class="text-center py-5">
    <!-- Muestra el mensaje de error -->
    <h1>{{ error }}</h1>

    <!-- Proporciona enlaces para volver a la p치gina de inicio de sesi칩n o a la p치gina de productos -->
    <h2>Back to <a href="/api/jwt/login">Login</a> or <a href="/api/jwt/passwordReset">Password Reset</a></h2>
</div>