<!-- Plantilla de error para el cambio de contraseña -->
<div class="text-center py-5">
    <!-- Muestra el mensaje de error -->
    <h1>{{ error }}</h1>

    <!-- Proporciona un enlace para volver a la página de cambio de contraseña -->
    <h2>Back to <a href="/api/jwt/passwordReset/{{tid}}">Change Password</a></h2>
</div>